/*

Template 2092 Shelf

http://www.tooplate.com/view/2092-shelf

*/

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color:#99ddff;
	padding: 0 15px;
	overflow-x: hidden;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
h1, h2, h3, h4, h5, h6 { line-height: 1.4; }
p { 
	line-height: 1.8;
	margin-bottom: 0;
}



.container {
	background-color: white;
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;  
}


.tm-site-name{
	color: white;
	text-shadow: 0px 3px 2px rgba(62,62,62,1);
}


.tm-site-header {
	background: url('../img/cabecalho.jpg') no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 80px;
	position: relative;
	border-bottom: 10px solid #076599;
}

.tm-main-nav-ul { flex-flow: column; }

.tm-main-nav-container {
	position: fixed;
    width: 100%;
	top: 5px;
	right: 10px;    
    width: 200px;
    z-index: 1000;
}

.tm-main-nav {
 background-color: rgba(0,0,0,0.5); 
}

.tm-main-nav .nav-link {
	color: white;
	font-size: 1.3rem;
	padding: 15px 20px;
}

.tm-main-nav .nav-link.active,
.tm-main-nav .nav-link:hover,
.tm-main-nav .nav-link:focus {
	color: #9AC9F7;
}

.tm-main-content {
 padding: 35px 30px; }


.escada img{
	width: 280px;
}

.energia1 img{
	width: 280px;
}

.energia2 img{
	width: 280px;
	margin-left: 100px;
}

.marca1 img{
	margin-top: -300px;
	margin-left: 700px;
	width: 280px;
}

.case img{
	width: 280px;
}









.media-body {
    -ms-flex: 1;
    flex: 1 1 auto;
    width: 100%;
}

.tm-margin-b-l { margin-bottom: 60px; }
.tm-margin-b-ll { margin-bottom: 80px; }
.tm-margin-b-xl { margin-bottom: 100px; }
.tm-margin-b { margin-bottom: 25px; }
.tm-margin-b-30 { margin-bottom: 30px; }
.tm-margin-b-p,
.tm-margin-b-p { margin-bottom: 35px; }
.tm-margin-r-20 { margin-right: 20px; }
.tm-margin-b-s { margin-bottom: 8px; }
.no-pad-b { padding-bottom: 0; }
.tm-small-pad { padding: 40px 35px; }

.tm-highlight {
	background-color: #076599;
	color: white;	
	padding: 50px 30px;
}

.tm-highlight-w-icon { flex-flow: column; }
.tm-highlight-icon { padding: 0 0 30px 0; }
.tm-highlight p { color: white; }

.tm-white-bordered-btn {
	color: white;
    border: 1px solid white;
    padding: 10px 25px;
    display: inline-block;
}

.tm-white-bordered-btn:hover,
.tm-white-bordered-btn:focus {
	background-color: white;
}

.tm-fa-6x { font-size: 6em; }
.tm-h3 { font-size: 1.5rem; }



.form-control { 
	border: 1px solid rgba(0, 0, 0, 0.37);
	border-radius: 0; 
	font-size: 1.2rem;
	padding: .75rem .75rem;    
}
.form-control:focus { border-color: #076599; }
.tm-overflow-auto { overflow: auto; }
#google-map {
    height: 360px;
    width: 100%;    
}


@media (min-width: 768px) {
	.tm-main-nav-ul { 
		flex-flow: row; 
		width: 100%;
	}
	.tm-main-nav-container {
		position: absolute;
		left: 0;
    	bottom: 0;
    	right: auto;
    	top: auto;
    	padding: 0;
    	width: 100%;
	}
	.tm-main-nav .nav-link { padding: 10px 15px; }
	.tm-gallery { max-width: 760px;	}
	.tm-highlight { padding: 50px 100px; }
	.tm-small-pad { padding: 40px 35px; }
	.tm-img-center-sm {	margin-left: 0;	}
}



@media (min-width: 1200px) {
	.container { max-width: 1120px; }
	.tm-site-header { height: 500px; }
	.tm-main-nav .nav-link { padding: 25px; }	
}

.login{
	background-color: #00ccff;
 padding: 25px 20px;
 margin-right: 500px;
 margin-left: 500px;
}


.lose{
	background-color: #00ccff;
 padding: 25px 20px;
 margin-right: 500px;
 margin-left: 500px;
 margin-top: 60px;
}

.indix{
	background-color: #00ccff;
 padding: 25px 20px;
 margin-right: 500px;
 margin-left: 500px;
 margin-top: 70px;
}


.liste{
	background-color: #4dd2ff;
 padding: 25px 20px;
 margin-right: 200px;
 margin-left: 200px;
 margin-top: 70px;
}